<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>challenge1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>challenge10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>challenge11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>challenge12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>challenge2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>challenge3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>challenge4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>challenge5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>challenge6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>challenge7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>challenge8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>challenge9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>420A542A1CBB4C35009833EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AAFF21CE3694F000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AAFFF1CE42DD3000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB00C1CE42FCC000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB01E1CE4466C000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB02C1CE44DDC000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB03A1CE4527B000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB0481CE4746D000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB0681CE57457000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB07C1CE6F799000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421AB0971CE70DA3000CF23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42ABE98C1CED8B2100A4CEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42ABE9971CED8B4600A4CEA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
